.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 15px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.sidebar-menu li a:hover {
  background-color: #000000;
}

.sidebar-link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
  background-color: #555;
}

.white-icon {
  color: rgb(255, 255, 255);
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.active {
  display: block;
}
