<p>
  <mat-toolbar class="custom-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon class="white-icon">menu</mat-icon>
    </button>
    <span>
      <nav>
        <a routerLink="/home" class="black-text">{{title}}</a>
      </nav>
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon class="white-icon">favorite</mat-icon>
    </button>
    <!-- Bonne note -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with good grade icon">
      <mat-icon class="white-icon" aria-hidden="false" aria-label="Example good grade icon">grade</mat-icon>
    </button>

    <!-- Mauvaise note -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with bad grade icon">
      <mat-icon class="white-icon" aria-hidden="false" aria-label="Example bad grade icon">warning</mat-icon>
    </button>

    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon class="white-icon">share</mat-icon>
    </button> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon class="white-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </button> -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon class="white-icon" aria-hidden="false" aria-label="Example notification icon">notifications</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon class="white-icon" aria-hidden="false" aria-label="Example school icon">school</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon class="white-icon" aria-hidden="false" aria-label="Example assignment icon">assignment</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon class="white-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon class="white-icon" aria-hidden="false" aria-label="Example delete icon">messages</mat-icon>
    </button>
  </mat-toolbar>
</p>

