<p>
  <mat-toolbar class="custom-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon class="white-icon">menu</mat-icon>
    </button>
    <span>
      <nav>
        <a routerLink="/home" class="black-text">{{title}}</a>
      </nav>
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon class="white-icon">favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon class="white-icon">share</mat-icon>
    </button>
  </mat-toolbar>
</p>

