<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>


<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item-left"><a href="#" class="nav-link"><i class="fas fa-home"></i> Accueil</a></li>
    <li class="nav-item-left" style="margin-left: 70px;"><a href="#" class="nav-link"><i class="fas fa-cogs" style="margin-right: 5px;"></i> Services</a></li>
    <li class="nav-item-left"><a href="#" class="nav-link"><i class="fas fa-info-circle" style="margin-right: 5px;"></i> À propos</a></li>
    <li class="nav-item-left"><a href="#" class="nav-link"><i class="fas fa-envelope" style="margin-right: 5px;"></i> Contact</a></li>
    <li class="nav-item-left" style="margin-left: 80px;">
      <form class="form-inline custom-search">
        <input class="form-control search-input" type="search" placeholder="Rechercher..." aria-label="Search">
        <button class="btn btn-outline-success search-button" type="submit">Rechecher</button>
      </form>
    </li>
    <li class="nav-item-right" style="margin-left: 100px;" ><a href="#" class="nav-link"><i class="fas fa-sign-out-alt" style="margin-right: 5px;"></i> Déconnexion</a></li>
  </ul>
</nav>

